@media screen and (min-width: 990px) {

    /* ----------------------------------------------------- */
    /*        BANNER INICIAL SUPERIOR */
    /* ----------------------------------------------------- */
    .banner-fluid .banner-container .banner-row .banner-row_frase {
        width: 80%;
    }
    .banner-fluid .banner-container .banner-row .banner-row_frase .banner-row_frase_1 {
        font-size: 1.5rem;
    }
    .banner-fluid .banner-container .banner-row .banner-row_frase .banner-row_frase_2 {
        font-size: 1.9rem;
    }

    /* ----------------------------------------------------- */
    /*        BANNER INICIAL SUPERIOR */
    /* ----------------------------------------------------- */
    .btn-contacto {
        bottom: 25px;
        right: 5%;
    }

    /* ----------------------------------------------------- */
    /*        BANNER INICIAL SUPERIOR */
    /* ----------------------------------------------------- */
    .amedida-fluid .amedida-container .amedida-row .amedida-row_lat {
        width: 32%;
    }
    .amedida-fluid .amedida-container .amedida-row .amedida-row_centro {
        width: 36%;
    }

    /* ----------------------------------------------------- */
    /* -------COMPRAR SECCIÓN */
    /* ----------------------------------------------------- */
    .comprar-fluid .comprar-container .comprar-row {
        height: 100vh;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    .comprar-fluid .comprar-container .comprar-row .comprar-row_lat {
        height: 90%;
        width: 45%;
    }
    .comprar-fluid .comprar-container .comprar-row .comprar-row_der {
        justify-content: center;
        align-items: flex-start;
    }
    .comprar-fluid .comprar-container .comprar-row .comprar-row_der h2 {
        margin-bottom: 20px;
    }
    .comprar-fluid .comprar-container .comprar-row .comprar-row_der p {
        text-align: start;
        padding: 0px;
    }

    /* ----------------------------------------------------- */
    /* -------MODELOS DE REELS*/
    /* ----------------------------------------------------- */
    .reeles-fluid .reeles-container .reeles-row {
        flex-direction: row;
        align-items: flex-start;
    }
    .reeles-fluid .reeles-container .reeles-row .reeles-row_modelos {
        height: 70vh;
        width: 20vw;
        margin: 0px 10px 50px;
    }

    /* ----------------------------------------------------- */
    /* ----FOOTER */
    /* ----------------------------------------------------- */
    .footer-fluid .footer-container .footer-row figure {
        width: 180px;
    }
    .footer-fluid {
        height: 250px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .footer-fluid .footer-container {
        height: 80%;
        padding: 0;
    }
    .footer-fluid .footer-container .footer-row {
        flex-direction: row;
        align-items: center;
        padding-top: 30px;
    }
    .footer-fluid .footer-container .footer-row .footer-row_info {
        width: auto;
        
        height: 100%;
        padding: 0px;
        justify-content: flex-start;
        align-items: flex-start;
    }
    .footer-fluid .footer-container .footer-row .footer-row_info h4 {
        font-size: 1.1rem;
    }
    .footer-fluid .footer-container .footer-row .footer-row_info figure {
        justify-content: flex-start;
    }
    .footer-fluid .footer-container .footer-row .footer-row_info figure img {
        margin-right: 20px;
    }



}