@media screen and (min-width:650px) {

    /* ----------------------------------------------------- */
    /* ----BANNER INICIAL SUPERIOR */
    /* ----------------------------------------------------- */
    .banner-fluid .banner-container .banner-row {
        flex-direction: row;
        justify-content: space-between;
    }

    .banner-fluid .banner-container .banner-row .banner-row_frase {
        display: flex;
    }

    /* ----------------------------------------------------- */
    /* ----HEADER */
    /* ----------------------------------------------------- */
    .header-fluid .header-container .header-row {
        flex-direction: row;
    }
    .header-fluid .header-container .header-row .header-row_lat {
        width: 50%;
        align-items: flex-start;
    }
    .header-fluid .header-container .header-row .header-row_der {
        width: 30vw;
    }

    /* ----------------------------------------------------- */
    /* ----RESISTENTE SECCIÓN */
    /* ----------------------------------------------------- */
    .resistente-fluid .resistente-container .resistente-row {
        flex-direction: row;
    }
    .resistente-fluid .resistente-container .resistente-row .resistente-row_lat {
        width: 50%;
        align-items: flex-start;
    }
    .resistente-fluid .resistente-container .resistente-row .resistente-row_izq {
        width: 30vw;
    }

    /* ----------------------------------------------------- */
    /* ----VERSATIL SECCIÓN */
    /* ----------------------------------------------------- */
    .versatil-fluid .versatil-container .versatil-row {
        flex-direction: row-reverse;
    }
    .versatil-fluid .versatil-container .versatil-row .versatil-row_lat {
        width: 50%;
        align-items: flex-end;
    }
    .versatil-fluid .versatil-container .versatil-row .versatil-row_izq {
        width: 30vw;
    }
    .versatil-fluid .versatil-container .versatil-row .versatil-row_der p {
        text-align: end;
    }
    
    /* ----------------------------------------------------- */
    /* ----COMPRAR SECCIÓN  */
    /* ----------------------------------------------------- */
    .comprar-fluid .comprar-container .comprar-row .comprar-row_lat {
        height: auto;
    }

    /* ----------------------------------------------------- */
    /* ----MODELOS DE REELS  */
    /* ----------------------------------------------------- */
    .reeles-fluid .reeles-container .reeles-row .reeles-row_modelos {
        height: auto;
        width: 80vw;
    }

    /* ----------------------------------------------------- */
    /* ----FOOTER */
    /* ----------------------------------------------------- */
    .footer-fluid {
        height: auto;
    }
    .footer-fluid .footer-container {
        padding: 50px 0px;
    }
    .footer-fluid .footer-container .footer-row .footer-row_info {
        margin: 20px;
    }

}