* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1 {
  font-family: "Oswald", sans-serif;
  font-weight: bold;
  font-size: 50px;
}

h2 {
  font-family: "Oswald", sans-serif;
  font-weight: bold;
  font-size: 30px;
}

h3, h4, h5, h6 {
  font-family: "Montserrat", sans-serif;
}

p {
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-size: 16px;
}

a {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  text-decoration: none;
  color: #525252;
  font-size: 16px;
}

body {
  background-color: #F9F9F9;
}

.banner-fluid {
  background-color: #F9F9F9;
  height: 100px;
}
.banner-fluid .banner-container {
  height: 100%;
  padding: 0;
}
.banner-fluid .banner-container .banner-row {
  border-bottom: 4px solid #12254e;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.banner-fluid .banner-container .banner-row figure {
  width: 200px;
  padding: 0;
  margin: 0;
}
.banner-fluid .banner-container .banner-row figure img {
  width: 100%;
}
.banner-fluid .banner-container .banner-row .banner-row_frase {
  width: auto;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.banner-fluid .banner-container .banner-row .banner-row_frase .banner-row_frase_1 {
  margin: 0;
  font-size: 1rem;
}
.banner-fluid .banner-container .banner-row .banner-row_frase .banner-row_frase_2 {
  margin: 0;
  font-size: 1.3rem;
}

.header-fluid {
  background-color: rgba(0, 0, 0, 0.823);
  height: 100vh;
  position: relative;
}
.header-fluid .header-container {
  height: 100%;
}
.header-fluid .header-container .header-row {
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.header-fluid .header-container .header-row .header-row_lat {
  color: #F9F9F9;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.header-fluid .header-container .header-row .header-row_izq h2 {
  font-weight: 400;
}
.header-fluid .header-container .header-row .header-row_izq p {
  font-weight: 400;
  font-family: "Montserrat", sans-serif;
}
.header-fluid .header-container .header-row .header-row_izq button {
  border: 2px solid #F9F9F9;
  background: none;
  padding: 10px;
  margin: 30px 0px 0px;
}
.header-fluid .header-container .header-row .header-row_izq button a {
  color: #F9F9F9;
  font-weight: 400;
}
.header-fluid .header-container .header-row .header-row_izq button a:hover {
  color: #fbd100;
}
.header-fluid .header-container .header-row .header-row_der {
  width: 80vw;
}
.header-fluid .header-container .header-row .header-row_der figure {
  width: 100%;
}
.header-fluid .header-container .header-row .header-row_der figure img {
  width: 100%;
}

.paralax1 {
  background: black fixed no-repeat 50% 50%;
  background-size: cover;
}

#paralax1 {
  background-image: url("../img/header-background.jpeg");
}

.overlay {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.5), black);
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.resistente-fluid {
  background-image: url(../img/background-resistente.png);
  background-size: cover;
  background-position: right;
  height: 100vh;
  position: relative;
}
.resistente-fluid .resistente-container {
  height: 100%;
}
.resistente-fluid .resistente-container .resistente-row {
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.resistente-fluid .resistente-container .resistente-row .resistente-row_lat {
  color: #F9F9F9;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.resistente-fluid .resistente-container .resistente-row .resistente-row_izq {
  width: 80vw;
}
.resistente-fluid .resistente-container .resistente-row .resistente-row_izq figure {
  width: 100%;
}
.resistente-fluid .resistente-container .resistente-row .resistente-row_izq figure img {
  width: 100%;
}
.resistente-fluid .resistente-container .resistente-row .resistente-row_der h2 {
  padding: 0px 25px;
  font-weight: bold;
  font-size: 2.5rem;
  margin-bottom: 20px;
}
.resistente-fluid .resistente-container .resistente-row .resistente-row_der p {
  padding: 0px 25px;
  font-weight: 400;
  font-family: "Montserrat", sans-serif;
  line-height: 1.2;
  text-align: justify;
}

.fajanegra-fluid {
  background-color: black;
  height: 100px;
  padding: 0;
  margin: 0;
}

.versatil-fluid {
  background-color: rgba(0, 0, 0, 0.823);
  background-size: cover;
  background-position: right;
  height: 100vh;
  position: relative;
}
.versatil-fluid .versatil-container {
  height: 100%;
}
.versatil-fluid .versatil-container .versatil-row {
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.versatil-fluid .versatil-container .versatil-row .versatil-row_lat {
  color: #F9F9F9;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.versatil-fluid .versatil-container .versatil-row .versatil-row_izq {
  width: 80vw;
}
.versatil-fluid .versatil-container .versatil-row .versatil-row_izq figure {
  width: 100%;
}
.versatil-fluid .versatil-container .versatil-row .versatil-row_izq figure img {
  width: 100%;
}
.versatil-fluid .versatil-container .versatil-row .versatil-row_der h2 {
  padding: 0px 25px;
  font-weight: bold;
  font-size: 2.5rem;
  margin-bottom: 20px;
}
.versatil-fluid .versatil-container .versatil-row .versatil-row_der p {
  padding: 0px 25px;
  font-weight: 400;
  font-family: "Montserrat", sans-serif;
  line-height: 1.2;
  text-align: justify;
}

.paralax2 {
  background: black fixed no-repeat 50% 50%;
  background-size: cover;
}

#paralax2 {
  background-image: url("../img/background-versatil.png");
}

.overlay2 {
  background: linear-gradient(rgba(0, 0, 0, 0.98), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.4));
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.btn-contacto {
  padding: 0px;
  width: 55px;
  position: fixed;
  bottom: 15px;
  right: 10px;
}
.btn-contacto a {
  width: 100%;
}
.btn-contacto a img {
  width: 100%;
  filter: drop-shadow(3px 3px 5px rgba(0, 0, 0, 0.487));
}

.constr-fluid .constr-container .constr-row {
  padding: 50px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.constr-fluid .constr-container .constr-row h3 {
  text-align: center;
  font-weight: bold;
  color: #525252;
}

.amedida-fluid {
  height: 80px;
  padding: 0;
}
.amedida-fluid .amedida-container {
  height: 100%;
  padding: 0;
}
.amedida-fluid .amedida-container .amedida-row {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
}
.amedida-fluid .amedida-container .amedida-row .amedida-row_lat {
  border-bottom: 2px solid #525252;
  height: 50%;
  width: 25%;
  margin: 0;
  padding: 0;
}
.amedida-fluid .amedida-container .amedida-row .amedida-row_centro {
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.amedida-fluid .amedida-container .amedida-row .amedida-row_centro h2 {
  text-align: center;
  margin: 0;
}

.amedida-fluid-2 {
  margin-top: 20px;
}
.amedida-fluid-2 .amedida-container-2 .amedida-row-2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.amedida-fluid-2 .amedida-container-2 .amedida-row-2 p {
  margin: 0;
  width: auto;
  font-size: 1.2rem;
}

.reeles-fluid {
  margin-top: 50px;
  margin-bottom: 50px;
}
.reeles-fluid .reeles-container .reeles-row {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.reeles-fluid .reeles-container .reeles-row .reeles-row_modelos {
  margin-bottom: 10px;
  height: 70vh;
  width: 80vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.reeles-fluid .reeles-container .reeles-row .reeles-row_modelos figure {
  width: 200px;
}
.reeles-fluid .reeles-container .reeles-row .reeles-row_modelos figure img {
  width: 100%;
}
.reeles-fluid .reeles-container .reeles-row .reeles-row_modelos #img-pescador {
  width: 100px;
}
.reeles-fluid .reeles-container .reeles-row .reeles-row_modelos #estrellas {
  width: 150px;
  margin: 10px 0px 30px;
}
.reeles-fluid .reeles-container .reeles-row .reeles-row_modelos #estrellas img {
  width: 100%;
}
.reeles-fluid .reeles-container .reeles-row .reeles-row_modelos #nombre-pescador {
  font-size: 1.3rem;
}
.reeles-fluid .reeles-container .reeles-row .reeles-row_modelos p {
  text-align: center;
}
.reeles-fluid .reeles-container .reeles-row .reeles-row_modelos #testimonio {
  text-align: justify;
  font-size: 0.8rem;
}
.reeles-fluid .reeles-container .reeles-row .reeles-row_modelos button {
  border: 2px solid #525252;
  padding: 10px;
}
.reeles-fluid .reeles-container .reeles-row .reeles-row_modelos button a:hover {
  color: #fbd100;
}

.footer-fluid {
  height: 100vh;
  background-color: #12254e;
}
.footer-fluid .footer-container {
  height: 100%;
}
.footer-fluid .footer-container .footer-row {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.footer-fluid .footer-container .footer-row figure {
  width: 250px;
}
.footer-fluid .footer-container .footer-row figure img {
  width: 100%;
}
.footer-fluid .footer-container .footer-row .footer-row_info {
  width: 100%;
  padding: 0;
  color: #F9F9F9;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.footer-fluid .footer-container .footer-row .footer-row_info h4 {
  font-family: "Oswald", sans-serif;
  margin-bottom: 20px;
}
.footer-fluid .footer-container .footer-row .footer-row_info p {
  font-weight: 400;
  margin-bottom: 5px;
  font-size: 0.8rem;
}
.footer-fluid .footer-container .footer-row .footer-row_info figure {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.footer-fluid .footer-container .footer-row .footer-row_info figure img {
  width: 35px;
  cursor: pointer;
}
.footer-fluid .footer-container .footer-row .footer-row_info .footer_link {
  color: #F9F9F9;
  font-weight: 400;
  font-size: 0.8rem;
  margin-bottom: 5px;
}
.footer-fluid .footer-container .footer-row .footer-row_minta {
  width: 100px;
  padding: 0;
  margin: 20px 0 5px;
}
.footer-fluid .footer-container .footer-row .footer-row_minta img {
  width: 100%;
}

/*# sourceMappingURL=mobile-vertical.css.map */
