@import "variables";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1 {
    font-family: $fuente-titulos;
    font-weight: bold;
    font-size: 50px;
}
h2 {
    font-family: $fuente-titulos;
    font-weight: bold;
    font-size: 30px;
}

h3, h4, h5, h6 {
    font-family: $fuente-subtitulos;
}

p {
    font-family: $fuente-parrafo;
    font-weight: 600;
    font-size: 16px;
}

a {
    font-family: $fuente-subtitulos;
    font-weight: 600;
    text-decoration: none;
    color: $color-gris-oscuro;
    font-size: 16px;
}

body {
    background-color: $color-blanco;
}

// -----------------------------------------------------
//        BANNER INICIAL
// -----------------------------------------------------
.banner-fluid {
    // border: 1px dashed black;
    background-color: $color-blanco;
    height: 100px;

    .banner-container {
        // border: 1px dashed gray;
        height: 100%;
        padding: 0;

        .banner-row {
            // border: 1px dashed blue;
            border-bottom: 4px solid $color-azul;
            padding: 0;
            margin: 0;
            width: 100%;
            height: 100%;

            display: flex;
            justify-content: center;
            align-items: center;

            figure {
                // border: 1px solid red;
                width: 200px;
                padding: 0;
                margin: 0;

                img {
                    width: 100%;
                }
            }

            .banner-row_frase {
                // border: 1px dashed red;
                width: auto;
                
                display: none;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                .banner-row_frase_1 {
                    margin: 0;
                    font-size: 1rem;
                }
                .banner-row_frase_2 {
                    margin: 0;
                    font-size: 1.3rem;
                }
            }
        }
    }
}

// -----------------------------------------------------
//        FOOTER
// -----------------------------------------------------
.footer-fluid {
    height: 100vh;
    background-color: $color-azul;

    .footer-container {
        border: 1px dashed gray;
        height: 100%;

        .footer-row {
            border: 1px dashed cyan;
            height: 100%;

            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;

            figure {
                border: 1px dashed red;
                width: 250px;

                img {
                    width: 100%;
                }
            }

            .footer-row_info {
                border: 1px dashed red;
                width: 100%;
                padding: 0;
                color: $color-blanco;

                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                h4 {
                    font-family: $fuente-titulos;
                    margin-bottom: 20px;
                }

                figure {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-evenly;
                    align-items: center;

                    img {
                        width: 50px;
                        cursor: pointer;
                    }
                }

                .footer_link {
                    color: $color-blanco;
                    font-weight: 400;
                    font-size: 0.8rem;
                    margin-bottom: 10px;
                }
            }

            .footer-row_minta {
                border: 1px dashed red;
                width: 200px;

                img {
                    width: 100%;
                }
            }
        }
    }
}


