@import "variables";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1 {
    font-family: $fuente-titulos;
    font-weight: bold;
    font-size: 50px;
}
h2 {
    font-family: $fuente-titulos;
    font-weight: bold;
    font-size: 30px;
}

h3, h4, h5, h6 {
    font-family: $fuente-subtitulos;
}

p {
    font-family: $fuente-parrafo;
    font-weight: 600;
    font-size: 16px;
}

a {
    font-family: $fuente-subtitulos;
    font-weight: 600;
    text-decoration: none;
    color: $color-gris-oscuro;
    font-size: 16px;
}

body {
    background-color: $color-blanco;
}

// -----------------------------------------------------
//        BANNER INICIAL
// -----------------------------------------------------
.banner-fluid {
    // border: 1px dashed black;
    background-color: $color-blanco;
    height: 100px;

    .banner-container {
        // border: 1px dashed gray;
        height: 100%;
        padding: 0;

        .banner-row {
            // border: 1px dashed blue;
            border-bottom: 4px solid $color-azul;
            padding: 0;
            margin: 0;
            width: 100%;
            height: 100%;

            display: flex;
            justify-content: center;
            align-items: center;

            figure {
                // border: 1px solid red;
                width: 200px;
                padding: 0;
                margin: 0;

                img {
                    width: 100%;
                }
            }

            .banner-row_frase {
                // border: 1px dashed red;
                width: auto;
                
                display: none;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                .banner-row_frase_1 {
                    margin: 0;
                    font-size: 1rem;
                }
                .banner-row_frase_2 {
                    margin: 0;
                    font-size: 1.3rem;
                }
            }
        }
    }
}

// -----------------------------------------------------
//        HEADER
// -----------------------------------------------------
.header-fluid {
    // border: 1px dashed black;
    background-color: rgba(0, 0, 0, 0.823);
    height: 100vh;
    position: relative;

    .header-container {
        // border: 1px dashed gray;
        height: 100%;

        .header-row {
            // border: 1px dashed blue;
            height: 100%;

            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;

            .header-row_lat {
                // border: 1px dashed red;

                color: $color-blanco;

                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }

            .header-row_izq {

                h2 {
                    font-weight: 400;
                }

                p {
                    font-weight: 400;
                    font-family: $fuente-subtitulos;
                }

                button {
                    border: 2px solid $color-blanco;
                    background: none;
                    padding: 10px;
                    margin: 30px 0px 0px;

                    a {
                        color: $color-blanco;
                        font-weight: 400;
                    }

                    a:hover {
                        color: $color-amarillo;
                    }
                }
            }

            .header-row_der {
                // background-color: rgba(0, 0, 255, 0.323);
                width: 80vw;

                figure {
                    width: 100%;

                    img {
                        width: 100%;
                    }
                }
            }
        }
    }
}

// -----EFECTO PARALAX-----------------
.paralax1 {
    background: rgb(0, 0, 0) fixed no-repeat 50% 50%;
    background-size: cover;
}
#paralax1 {
    background-image: url("../img/header-background.jpeg");
}

// -----OVERLAY------------------------
.overlay {
    // border: 1px solid cyan;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.5), rgba(0,0,0,1));
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;

    position: absolute;
    top: 0;
    left: 0;
}

// -----------------------------------------------------
//        RESISTENTE SECCIÓN
// -----------------------------------------------------
.resistente-fluid {
    // border: 1px dashed black;
    background-image: url(../img/background-resistente.png);
    background-size: cover;
    background-position: right;
    height: 100vh;
    position: relative;

    .resistente-container {
        // border: 1px dashed gray;
        height: 100%;

        .resistente-row {
            // border: 1px dashed blue;
            height: 100%;

            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;

            .resistente-row_lat {
                // border: 1px dashed red;

                color: $color-blanco;

                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }

            .resistente-row_izq {
                // border: 1px dashed red;
                width: 80vw;

                figure {
                    width: 100%;

                    img {
                        width: 100%;
                    }
                }
            }

            .resistente-row_der {
                h2 {
                    padding: 0px 25px;
                    font-weight: bold;
                    font-size: 2.5rem;
                    margin-bottom: 20px;
                }

                p {
                    padding: 0px 25px;
                    font-weight: 400;
                    font-family: $fuente-subtitulos;
                    line-height: 1.2;
                    text-align: justify;
                }
            }
        }
    }
}

// -----------------------------------------------------
//        FAJA NEGRA SUPERIOR E INFERIOR
// -----------------------------------------------------
.fajanegra-fluid {
    background-color: rgb(0, 0, 0);
    height: 100px;
    padding: 0;
    margin: 0;
}

// -----------------------------------------------------
//          VERSATIL SECCIÓN
// -----------------------------------------------------
.versatil-fluid {
    // border: 1px dashed black;
    background-color: rgba(0, 0, 0, 0.823);
    background-size: cover;
    background-position: right;
    height: 100vh;
    position: relative;

    .versatil-container {
        // border: 1px dashed gray;
        height: 100%;

        .versatil-row {
            // border: 1px dashed blue;
            height: 100%;

            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;

            .versatil-row_lat {
                // border: 1px dashed red;

                color: $color-blanco;

                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }

            .versatil-row_izq {
                // border: 1px dashed red;
                width: 80vw;

                figure {
                    width: 100%;

                    img {
                        width: 100%;
                    }
                }
            }

            .versatil-row_der {
                h2 {
                    padding: 0px 25px;
                    font-weight: bold;
                    font-size: 2.5rem;
                    margin-bottom: 20px;
                }

                p {
                    padding: 0px 25px;
                    font-weight: 400;
                    font-family: $fuente-subtitulos;
                    line-height: 1.2;
                    text-align: justify;
                }
            }
        }
    }
}

// -----EFECTO PARALAX-----------------
.paralax2 {
    background: rgb(0, 0, 0) fixed no-repeat 50% 50%;
    background-size: cover;
}
#paralax2 {
    background-image: url("../img/background-versatil.png");
}

// -----OVERLAY 2------------------------
.overlay2 {
    // border: 1px solid cyan;
    background: linear-gradient(rgba(0, 0, 0, 0.98), rgba(0, 0, 0, 0.5), rgba(0,0,0,0.4));
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;

    position: absolute;
    top: 0;
    left: 0;
}

// -----------------------------------------------------
//        BOTON DE CONTACTO
// -----------------------------------------------------
.btn-contacto {
    // border: 1px dashed red;
    padding: 0px;
    width: 55px;
    position: fixed;
    bottom: 15px;
    right: 10px;

    a {
        width: 100%;

        img {
            width: 100%;
            filter: drop-shadow(3px 3px 5px rgba(0, 0, 0, 0.487));
        }
    }
}

// -----------------------------------------------------
//        COMPRAR SECCIÓN
// -----------------------------------------------------
.comprar-fluid {
    // border: 1px dotted black;
    height: auto;

    .comprar-container {
        // border: 1px dotted gray;
        height: auto;

        .comprar-row {
            border: 1px dotted blue;
            height: auto;

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .comprar-row_lat {
                border: 1px dotted orangered;
                height: 100vh;

                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }

            .comprar-row_der {
                h2 {
                    font-size: 2.7rem;
                    color: $color-negro;
                    margin-bottom: 50px;
                }

                p {
                    text-align: center;
                    padding: 0px 25px;
                    margin-bottom: 50px;
                }

                button {
                    border: 2px solid $color-gris-oscuro;
                    width: 200px;
                    
                    background: none;
                    padding: 10px;
                    margin: 30px 0px 0px;

                    a {
                        color: $color-gris-oscuro;
                        font-weight: 400;
                    }

                    a:hover {
                        color: $color-amarillo;
                    }
                }
            }
        }
    }
}











// -----------------------------------------------------
//        EN CONSTRUCCIÓN
// -----------------------------------------------------
.constr-fluid {
    .constr-container {
        .constr-row {
            padding: 50px 0px;

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            h3 {
                text-align: center;
                font-weight: bold;
                color: $color-gris-oscuro;
            }


        }
    }
}

// -----------------------------------------------------
//        REEL A TU MEDIDA
// -----------------------------------------------------
.amedida-fluid {
    // border: 1px dashed black;
    height: 80px;
    padding: 0;

    .amedida-container {
        // border: 1px dashed gray;
        height: 100%;
        padding: 0;

        .amedida-row {
            // border: 1px dashed blue;
            height: 100%;
            margin: 0;

            display: flex;
            flex-direction: row;
            align-items: flex-start;
            justify-content: center;

            .amedida-row_lat {
                // border: 1px dashed red;
                border-bottom: 2px solid $color-gris-oscuro;
                height: 50%;
                width: 25%;
                margin: 0;
                padding: 0;
            }

            .amedida-row_centro {
                // border: 1px dashed green;
                height:  100%;
                width: 50%;

                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                h2 {
                    text-align: center;
                    margin: 0;
                }
            }
        }
    }
}

.amedida-fluid-2 {
    // border: 1px dashed black;
    margin-top: 20px;

    .amedida-container-2 {
        // border: 1px dashed gray;

        .amedida-row-2 {
            // border: 1px dashed red;

            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;

            p {
                margin: 0;
                width: auto;
                font-size: 1.2rem;
            }
        }
    }
}

// -----------------------------------------------------
//        MODELOS DE REELS
// -----------------------------------------------------
.reeles-fluid {
    // border: 1px dashed black;
    margin-top: 50px;
    margin-bottom: 50px;

    .reeles-container {
        // border: 1px dashed gray;

        .reeles-row {
            // border: 1px dashed blue;

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .reeles-row_modelos {
                // border: 1px dashed red;
                margin-bottom: 10px;
                height: 70vh;
                width: 80vw;

                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                figure {
                    // border: 1px dashed green;
                    width: 200px;

                    img {
                        width: 100%;
                    }
                }

                #img-pescador {
                    width: 100px;
                }
                #estrellas {
                    // border: 1px dashed red;
                    width: 150px;
                    margin: 10px 0px 30px;

                    img {
                        width: 100%;
                    }
                }

                h2 {
                    // border: 1px dashed green;
                }

                #nombre-pescador {
                    font-size: 1.3rem;
                }

                p {
                    // border: 1px dashed green;
                    text-align: center;
                }
                #testimonio {
                    text-align: justify;
                    font-size: 0.8rem;
                }

                button {
                    border: 2px solid $color-gris-oscuro;
                    padding: 10px;

                    a:hover {
                        color: $color-amarillo;
                    }
                }
            }
        }
    }
}




// -----------------------------------------------------
//        FOOTER
// -----------------------------------------------------
.footer-fluid {
    height: 100vh;
    background-color: $color-azul;

    .footer-container {
        // border: 1px dashed gray;
        height: 100%;

        .footer-row {
            // border: 1px dashed cyan;
            height: 100%;

            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;

            figure {
                // border: 1px dashed red;
                width: 250px;

                img {
                    width: 100%;
                }
            }

            .footer-row_info {
                // border: 1px dashed red;
                width: 100%;
                padding: 0;
                color: $color-blanco;

                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                h4 {
                    font-family: $fuente-titulos;
                    margin-bottom: 20px;
                }

                p {
                    font-weight: 400;
                    margin-bottom: 5px;
                    font-size: 0.8rem;
                }

                figure {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-evenly;
                    align-items: center;

                    img {
                        width: 35px;
                        cursor: pointer;
                    }
                }

                .footer_link {
                    color: $color-blanco;
                    font-weight: 400;
                    font-size: 0.8rem;
                    margin-bottom: 5px;
                }
            }

            .footer-row_minta {
                // border: 1px dashed red;
                width: 100px;
                padding: 0;
                margin: 20px 0 5px;

                img {
                    width: 100%;
                }
            }
        }
    }
}


