// ---------------------------------
//    PALETA DE COLORES
// ---------------------------------
$color-negro: #000000;
$color-gris: #b8b8b8;
$color-gris-oscuro: #525252;
$color-verde: #B1C447;
$color-blanco: #F9F9F9;

// ----------------------------------
//     FUENTES
// ----------------------------------
$fuente-titulos: 'Oswald', sans-serif;
$fuente-subtitulos: 'Montserrat', sans-serif;
$fuente-parrafo: 'Roboto', sans-serif;